/* Reset some default styles */
body,ul, li {
    margin: 0;
    padding: 0;
    color: white;
}

.profile-logo {
    width: 45px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 160px;
}

h1,p,h2,h4{
    margin: 0;
    padding: 0;
    color: black;
}
h3{
    margin: 0;
    padding: 0;
    color:violet;
}
/* Set background image for the entire page */
html, body {
    background-image: url('bgpic1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* This ensures the background image remains fixed when scrolling */
}

/* Header styles */
header {
    background-color: black;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 200px 0;
    color: green;
}

.cta-button {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Other section styles */
.about-content, .programs-content, .contact-form {
    padding: 50px;
}

.program {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1rem;
}
